<h1 class="titulo">
    <i class="fa fa-home"></i> Home
</h1>
<div class="linha">
    <div class="xs-12 md-6 xl-3">
        <div class="painel gd-verde-azul white">
            <h2>Informações Iniciais</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
    </div>
    <div class="xs-12 md-6 xl-3">
        <div class="painel gd-cinza white">
            <h2>Informações Iniciais</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
    </div>
    <div class="xs-12 md-6 xl-3">
        <div class="painel gd-laranja white">
            <h2>Informações Iniciais</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
    </div>
    <div class="xs-12 md-6 xl-3">
        <div class="painel gd-azul white">
            <h2>Informações Iniciais</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
    </div>
</div>
