html {
    height: 100%;
}
body {
    font-size: 40px;
    background-color: coral;
    height: 100%;
    margin: 0;
}

div {
    background-color: seagreen;
}

span {
    background-color: dodgerblue;
}

span, div {
    width: 49%;
    height: 250px;
    height: 50%;
    display: block;
}
