.selector {
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: solid 5px navy;
    font-family: Helvetica, monospace;

    /* Funções */
    width: calc(100% - 40px);
    background-color: rgb(134, 153, 189);

}

/* Pseudo-classe */
.selector:hover {
    background-color: orangered;
}

/* Pseudo-elemento */
.selector::first-letter {
    font-size: 30pt;
    font-weight: bold;
}

/* Padrão de dash-case ou camelCase */
