body {
    font-size: 60px;
    margin: 0;
}
.c1 {
    background-color: orange;
}
.c2 {
    background-color: skyblue;
}
.c3 {
    background-color: tomato;
}

div {
    float: left;
    /* padding-top: 100px; */
    /* padding: 100px 50px; */
    padding: 30px;
    margin: 0 20px;
    border: solid 15px black;
}
