/*
    https://www.w3schools.com/colors/colors_hsl.asp

    https://coolors.co/
    http://paletton.com/
*/
body {
    background-color: aquamarine;
    background-color: #f67809;
    background-color: #abc;
    background-color: #edc91280;
    background-color: rgb(55, 110, 200);
    background-color: rgba(55, 110, 200, 0.7);
    background-color: hsl(299, 58%, 30%);
    background-color: hsla(299, 58%, 30%, 0.6);

}
