        /* https://caniuse.com/#feat=css-grid */
html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: lightgray;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background: #fff;
}

body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-columns: repeat(11, 100px) 100px;
    grid-template-columns: 200px 20% 1fr;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 50% 25% 12.5% 12.5%;
    grid-template-rows: 100px 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-rows: 100px auto;
}

.d8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.d10, .d11 {
    /* Podem se sobrepor */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.d10 {
    z-index: 10;
}
