html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: lightgray;
    box-shadow: inset 0 0 1em black;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px dodgerblue;
    background: #fff;
}

body {
    display: grid;
    grid-template-columns: [inicio] 1fr [meio-1 metade-1] 1fr [metade-2 meio-2] 1fr [fim];
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-gap: 50px 10px;
    grid-gap: 10px;
}

.d1 {
    grid-column-start: metade-2;
    grid-column-end: fim;
    grid-column: meio-1 / fim;
    grid-row: 1 / span 2;
/* row-start column-start row-end column-end */
    grid-area: 1 / meio-1 / span 3 / fim;
}
