* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    grid-area: cabecalho;
}
nav {
    grid-area: navegacao;
}
main {
    grid-area: conteudo;
}
footer {
    grid-area: rodape;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        'cabecalho cabecalho'
        'navegacao conteudo'
        'rodape rodape';
}
@media(max-width: 700) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 1fr 100px;
        grid-template-areas:
        'cabecalho',
        'navegacao',
        'conteudo',
        'rodape';
    }
}
