body {
    font-size: 40px;
    color: #fff;
    background-color: coral;
}

ul {
    padding: 0;
}

div {
    background-color: seagreen;
}

span {
    background-color: dodgerblue;
}

li {
    background-color: purple;
}

div, span, li {
    width: 50%;
    width: 200px;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
}

/*
    display block: cada elemento fica em uma linha
    display inline: elementos ficam na mesma linha mas NÃO considera altura e largura
    display inline-block: fica na mesma linha e considera altura e largura

*/
