/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/Specificity */


/*
    1. regra com !important
    2. seletores mais específicos
    3. última regra processada (empate)

*/

p {
    background-color: #aaa;
}

/* Classe é mais específico
do que o elemento*/
.observacao {
    background-color: #5F5;
    border: dashed 5px;
    padding: 200px;
    font-size: 40px;
}

/* Mais específico que a classe */
p.observacao {
    padding: 2px 60px;
    background: linear-gradient(to right, red, yellow);
}
