/* https://specificity.keegan.st/ */

/*
Ordem de Especificidades

    1. inline
    2. id
    3. classe, pseudo-classe, atributo
    4. elemento, pseudo-elementos

*/

body {
    font-size: 40px;
}
div {
    background-color: #00B;
    color: #fff;
}
div[wm-cor] {
    background-color: darkorange;
}
div:hover {
    background-color: purple;
}
div.estilo {
    background-color: green;
}
#unico1, #unico2 {
    background-color: black;
}
