body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.cabecalho {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    height: 80px;
}

.logo img {
    height: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
    padding: 10px 15px;
}

.menu a:hover {
    background-color: #4faddb;
    color: #000;
}

.cabecalho .botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 10px;
}

.destaque {
    background: #f50a31;
    color: #fff;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    flex-grow: 10;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin: 0px 10px;
}
