div {
    border: solid 5px dodgerblue;
    font-size: 40px;
    margin: 5px;
}

.big {
    font-size: 1.5em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    /* height: 200px; */
    flex-wrap: wrap;
    flex-flow: row wrap-reverse;
    flex-flow: column wrap-reverse;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-around;
    justify-content: space-between;
    flex-direction: row-reverse;

    /* Cross Axis */
    height: 400px;
    align-items: stretch;
    align-items: baseline;
    align-items: flex-end;
    align-items: center;
    /* Mais de uma linha */
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
}
