body {
    margin: 0;
}
div {
    border: solid 5px dodgerblue;
    font-size: 40px;
}

.flex-container {
    display: flex;
    height: 300px;
    width: 600px;
}

.flex-container div {
    box-sizing: border-box;
    width: 100px;
    flex-grow: 1;
}

.flex-container div:nth-child(3) {
    background-color: indianred;
    order: 1;
    order: -1;
    align-self: center;
    align-self: flex-start;
    align-self: flex-end;
    align-self: stretch;
}

.flex-container div:nth-child(1) {
    flex-grow: 2;
}

.flex-container {
    width: 300px;
    flex-shrink: 1;
}
.flex-container div:nth-child(1) {
    flex-shrink: 5;
}
