div {
    border: solid 5px dodgerblue;
    font-size: 40px;
}

.flex-container div {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container div {
    flex-basis: 100px;
    width: 200px;
}

.flex-container div:nth-child(4) {
    /* grow shrink basis */
    flex: 3 6 100px;
}

/* .flex-container {
    width: 300px;
} */
