/* Aplicações do padding e do margin */

/* padding: a

    aplica o padding nos quatro sentidos

*/

/*
    padding: x y

    x -> Em cima e embaixo
    y -> lado esquerdo e lado direito

*/

/*
    padding: a b c d

    a -> em cima
    b -> lado direito
    c -> embaixo
    d -> lado esquerdo

*/
