/* * {
    color: #ff0;
    background-color: #f77;
} */

/* .tag {
    color: #ff0;
    background-color: #f77;
} */

/* #aprovados {
    color: #ff0;
    background-color: #f77;
} */

/* #aninhado > div {
    color: #ff0;
    background-color: #f77;
} */

/* #aninhado section {
    color: #ff0;
    background-color: #f77;
} */

/* Seleciona um ul que está seguido de um p */
/* p + ul {
    color: #ff0;
    background-color: #f77;
} */


/* Seleciona os elementos de ol que tem
   o mesmo pai que o elemento p não necessariamente
   anterior a ele
*/
/* p ~ ol {
    color: #ff0;
    background-color: #f77;
} */


/* [feira=escritorio] {
    color: #ff0;
    background-color: #f77;
} */


/* Primeiro filho de alguém */
/* span:nth-child(1) {

} */


/* Filhos ímpares */
/* section > :nth-child(odd) {
    color: #ff0;
    background-color: #f77;
}


p, ul {
    color: #ff0;
    background-color: #f77;
} */


/* Segundo elemento do tipo span
que está dentro da section */
section > span:nth-of-type(2) {
    color: #ff0;
    background-color: #f77;
}
