* {
    box-sizing: border-box;
}

body {
    font-size: 45px;
    margin: 0;
}

div {
    background-color: deepskyblue;
    width: 100%;
    height: 300px;
    padding: 100px;
    border: solid 20px;
}

/* box-sizing considera o padding e a borda */
