body {
  background-color: gray;
  background-image: url(d7149b187cd2618616b806272ba77627.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.5em; }
