<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Conceitos Básicos </title>
        <link rel="stylesheet" href="/css/estilo.css">
        <script src="js/vue.min.js"></script>
    </head>
    <body class="exercicio">
        <div id="app">
            <p> 1) {{ 2 + 3 }} </p>
            <p> 2) {{ "teste".toUpperCase() }} </p>
            <p>3) {{ teste }}</p>
            <p>4)
                Seu nome é {{ nome }}. Sua idade é {{ idade }}
                <br>
                Profissão: {{ profissao }}
            </p>
            <br>
            <p> Datetime Now: {{ nowDate() }}</p>
            <br>
            <p> Birth Year: {{ birthYear }}</p>
        </div>

    <script src="js/vue/basico.js"></script>
    </body>
</html>
