<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Binding </title>
        <link rel="stylesheet" href="/css/estilo.css">
        <script src="js/vue.min.js"></script>
    </head>
    <body class="exercicio">
        <div id="binding">
            <p>
                Link do Youtube
            </p>
            <p>
                Clique
                <a v-bind:href="link" target="_blank">
                    aqui
                </a>
                para acessar
            </p>
            <p>
                Outro. Clique
                <a :href="link" target="_blank">
                    também aqui
                </a>
                para acessar
            </p>

            <br>

            <p>
                <input type="text" name="nome" v-model="nome">
                <br>
                <span> {{ nome }}</span>
            </p>
            <p>
                <input type="text" name="nome" v-bind:value="nome">
                <br>
                <span> {{ nome }}</span>
            </p>
        </div>
    <script src="js/vue/binding.js"></script>
    </body>
</html>
