<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Eventos </title>
        <link rel="stylesheet" href="/css/estilo.css">
        <script src="js/vue.min.js"></script>

    </head>
    <body class="exercicio">
        <div id="evento" v-on:mousemove="atualizarPosicao">
            <p> {{ contador }}</p>
            <br>
            <p>
                <button v-on:click="add" type="button">
                    Add
                </button>
                <button @click="sub" type="button">
                    Sub
                </button>
            </p>
            <br>
            <p>
                <span class="naoMonitorar" v-on:mousemove.stop>
                    Aqui não
                </span>
                Coordenadas: x = {{ x }} / y = {{ y}}
                <span class="naoMonitorar" v-on:mousemove="stop">
                    Aqui Também não
                </span>
            </p>
            <input type="text" v-on:keyup.enter="alerta">
        </div>
        <script src="js/vue/eventos.js"></script>
    </body>
</html>
