<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> If & For </title>
        <link rel="stylesheet" href="/css/estilo.css">
        <script src="js/vue.min.js"></script>
        <style >
            li {
                list-style: none;
            }
        </style>
    </head>
    <body class="exercicio">
        <div id="app">
            <p v-for="(aluno, i) in alunos">
                ({{ i + 1 }}) {{ aluno.nome }} - {{ aluno.nota }}
                <span v-if="aluno.nota >= 9"> Quadro de Honra</span>
                <span v-else-if="aluno.nota >= 7"> Aprovado </span>
                <span v-else-if="aluno.nota >= 3"> Recuperação</span>
                <span v-else> Reprovado </span>
            </p>
            <ul>
                <li v-for="n in 20">
                    <span v-show="n % 2 == 0">
                        {{ n }}
                    </span>
                </li>
            </ul>
        </div>

        <script src="js/vue/ifFor.js" type="text/javascript"></script>
    </body>
</html>
